.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 20px;
  color: white;
}

.dialog .active {
  color: rgb(170, 92, 188);
}

.messages {
  padding: 20px;
}

.message .message {
  color: white;
}